<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <ion-item *ngFor="let gw of gws" button>
        <ion-avatar slot="start">
            <img src="assets/img/lanthings-hdpi-icon.png">
        </ion-avatar>
        <ion-label>
            <h2>{{ gw.description }}</h2>
            <p>{{ gw.serialNumber }}</p>
        </ion-label>
    </ion-item>
    <ion-item (click)="discover()" button>
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-label>
            <h2>Discover</h2>
        </ion-label>
    </ion-item>
</ion-list>
</ion-content>
